<div class="grid">
    <div class="col-12">
        <p-toolbar *ngIf="role!='employee'" styleClass="mb-4">
            <ng-template pTemplate="left">
                <p-dropdown *ngIf="role=='superadmin'" (onChange)="onChangeCompany($event)" [filter]="true"
                    filterBy="name" [(ngModel)]="selectedCompany" [options]="companies" optionLabel="name" class="mr-3"
                    optionValue="code" placeholder="Select company" />
                <!-- <p-dropdown *ngIf="role=='superadmin' && showAdmin" (onChange)="onChangeAdmin($event)" [filter]="true"
                    filterBy="name" [(ngModel)]="selectedAdmin" [options]="admins" optionLabel="name" class="mr-3"
                    optionValue="code" placeholder="Select Admin" /> -->
                <p-dropdown *ngIf="role=='superadmin' || role=='admin'" (onChange)="onChangeTL($event)" [filter]="true"
                    filterBy="name" [(ngModel)]="selectedTL" [options]="tlList" optionLabel="name" class="mr-3"
                    optionValue="code" placeholder="Select TL" />
                <p-dropdown [filter]="true" (onChange)="onChangeFilter($event)" filterBy="name"
                    [(ngModel)]="selectedEmployee" [options]="employees" optionLabel="name" class="mr-3"
                    optionValue="code" placeholder="Select Employee" />
            </ng-template>

            <ng-template pTemplate="right">
                <!-- <div>
                    <button (click)="sendMessage()">Login with Facebook</button>
                </div> -->

                <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
                <!-- <button pButton pRipple label="Export" icon="pi pi-download" class="p-button-help secondary"
                    (click)="exportExcel()"></button> -->
            </ng-template>
        </p-toolbar>
    </div>
</div>
<div class="grid">
    <div class="col-6">
        <div class="card mb-0">
            <div class="grid">
                <div class="col-8">
                    <p-chart style="height: 400px;" type="pie" [data]="data" [options]="options" />
                </div>
                <div class="col-4">
                    <div class="grid">
                        <div class="col-12">
                            <h5>Total Target</h5>
                            <label>{{targetData?.total}}</label>
                        </div>
                        <div class="col-12">
                            <h5>Achieved Target</h5>
                            <label>{{targetData?.achieved}}</label>
                        </div>
                        <div class="col-12">
                            <h5>Pending Target</h5>
                            <label>{{targetData?.pending}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mb-0">
            <div class="grid">
                <div class="col-6">
                    <h5>Today's Free Trial</h5>
                    <label>{{free_trial?.total}}</label>
                </div>
                <div class="col-6">
                    <div class="grid">
                        <div class="col-12">
                            <h5>Total Payment Done</h5>
                            <h5>{{payments_done?.totalPayment}}</h5>
                        </div>
                        <div class="col-12">
                            <h5>Todays Expected Payment</h5>
                            <label>{{expected_payment?.totalAmount}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">

    </div>
</div>


<div class="grid">
    <div class="col-12">
        <div class="card mb-0">
            <h5>Smart View</h5>
            <p-table #dt1 [value]="smartView" dataKey="id" [rowHover]="true" [lazy]="true" [rows]="50"
                [totalRecords]="smartViewRecords" styleClass="p-datatable-gridlines"
                [rowsPerPageOptions]="[50,100,150,200]" [paginator]="true" (onLazyLoad)="getSmartView($event)"
                [globalFilterFields]="[
                    'name',
                    'country.name',
                    'representative.name',
                    'status'
                ]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true" responsiveLayout="scroll">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 5rem">
                            <div class="flex justify-content-between align-items-center">
                                Username
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 5rem">
                            <div class="flex justify-content-between align-items-center">
                                Total
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 5rem">
                            <div class="flex justify-content-between align-items-center">
                                Total Dialed
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 5rem">
                            <div class="flex justify-content-between align-items-center">
                                CALLBACK
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 7rem">
                            <div class="flex justify-content-between align-items-center">
                                FREE TRIAL
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 6rem">
                            <div class="flex justify-content-between align-items-center">
                                RINGING
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 6rem">
                            <div class="flex justify-content-between align-items-center">
                                SWITCH OFF
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 6rem">
                            <div class="flex justify-content-between align-items-center">
                                DEAD
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 6rem">
                            <div class="flex justify-content-between align-items-center">
                                NOT REACHABLE
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 6rem">
                            <div class="flex justify-content-between align-items-center">
                                NOT INTERESTED
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 6rem">
                            <div class="flex justify-content-between align-items-center">
                                EXPECTED PAYMENT
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 6rem">
                            <div class="flex justify-content-between align-items-center">
                                PAYMENT DONE
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2"> {{customer?.userDetails?.username}}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.status?.total
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.status?.total_dialed
                                }}</span>
                        </td>

                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.status?.callback
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.status?.free_trial
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.status?.ringing
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.status?.switched_off
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.status?.dead
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.status?.not_reachable
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.status?.not_interested
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.status?.expected_payment
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.status?.payment_done
                                }}</span>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Data found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading banks data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div style="display: none;" class="grid">
    <div class="col-12">
        <div class="card mb-0">
            <h5>Incentive List</h5>
            <p-table #dt1 [value]="appointments" dataKey="id" [rowHover]="true" [lazy]="true" [rows]="10"
                [totalRecords]="totalRecords" styleClass="p-datatable-gridlines" [paginator]="true"
                (onLazyLoad)="loadBLogs($event)" [globalFilterFields]="[
                    'name',
                    'country.name',
                    'representative.name',
                    'status'
                ]" responsiveLayout="scroll">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Username
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Target Achieved
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Incentive Amount
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.account_holder
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.account_number
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.bank_name
                                }}</span>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Data found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading banks data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12">

        <div class="card mb-0">
            <h5>Current Month Paid List</h5>
            <p-table #dt2 [value]="payments_done?.payments" dataKey="id" [rowHover]="true" [lazy]="true" [rows]="50"
                [rowsPerPageOptions]="[50,100,150,200]" [totalRecords]="currentMonthPaidtotalRecords"
                styleClass="p-datatable-gridlines" [paginator]="true" (onLazyLoad)="getCurrentMonthPaymentDone($event)"
                [globalFilterFields]="[
                    'name',
                    'country.name',
                    'representative.name',
                    'status'
                ]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true" responsiveLayout="scroll">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Customer Name
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Username
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Mobile
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Amount
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>

                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Payment Mode
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>

                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Account Detail
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>



                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Payment Date
                                <!-- <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter> -->
                            </div>
                        </th>

                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Email Status
                                <!-- <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter> -->
                            </div>
                        </th>
                        <th *ngIf="role == 'employee' || role == 'teamlead' " style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Action
                                <!-- <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter> -->
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>
                            <i (click)="editPayment(customer,dt2)" class="pi pi-pencil"></i>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.name
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.userDetails?.username
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.mobile
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.payment_amount
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.payment_mode
                                }}</span>
                        </td>
                        <td *ngIf="customer?.payment_mode == 'UPI'">
                            {{ customer?.payment_details?.upi_id + ' '+
                            customer?.payment_details?.upi_number}}
                        </td>
                        <td *ngIf="customer?.payment_mode == 'BANK'">
                            {{ customer?.payment_details?.account_holder + ' '+
                            customer?.payment_details?.account_number+ ' ' +
                            customer?.payment_details?.bank_name

                            }}
                        </td>

                        <td *ngIf="customer?.payment_mode == 'LINK'">
                            {{ customer?.payment_details?.name + ' '+
                            customer?.payment_details?.link

                            }}
                        </td>


                        <td class="text-center">
                            {{
                            customer?.payment_date | date:'dd-MM-Y'
                            }}
                        </td>
                        <td>
                            <p-card>
                                <!-- <div class="cursor-pointer" (click)="isEditing = true" *ngIf="!isEditing">
                                    {{ customer.email_status || EmailOptions[0]['label'] }}
                                </div> -->

                                <p-dropdown appendTo="body" [options]="EmailOptions" [(ngModel)]="customer.email_status"
                                    (onChange)="onOptionSelect(customer)" autoWidth="false">
                                </p-dropdown>
                            </p-card>

                        </td>
                        <td *ngIf="role == 'employee' || role == 'teamlead' ">
                            <button (click)="investMore(customer,dt1)" type="button" pbutton
                                class="p-button primary">Invest
                                More</button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Data found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading banks data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="card mb-0">
            <h5>Today's Free Trial Client</h5>
            <p-table #dt3 [value]="free_trial?.data" dataKey="id" [rowHover]="true" [lazy]="true" [rows]="50"
                [totalRecords]="totalFreeTrialRecords" styleClass="p-datatable-gridlines" [paginator]="true"
                (onLazyLoad)="getFreeTrialData($event)" [rowsPerPageOptions]="[50,100,150,200]"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true" responsiveLayout="scroll">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Username
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Mobile
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Name
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                City
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Segment
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Remark
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>

                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Investment
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.user?.username
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.free_trial?.mobile
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.free_trial?.name
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.free_trial?.city
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.free_trial?.options
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.free_trial?.remark
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.free_trial?.investment
                                }}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Data found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading banks data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast key="tst"></p-toast>