<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Assigned Hot Leads</h5>
            <p-table #dt1 [(selection)]="selectedProducts" [value]="appointments" dataKey="_id" [rowHover]="true"
                [lazy]="true" paginatorPosition="bottom" [rows]="50" [rowsPerPageOptions]="[50,100,150,200]"
                [totalRecords]="totalRecords" styleClass="p-datatable-gridlines" [paginator]="true"
                (onLazyLoad)="loadBLogs($event)" [globalFilterFields]="[
                    'name',
                    'country.name',
                    'representative.name',
                    'status'
                ]" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="grid">
                        <!-- <div class="col-3">
                            <input pInputText type="text" [(ngModel)]="searchText" placeholder="Search Keyword"
                                class="w-full" />
                        </div>
                        <div class="col-2">
                            <p-dropdown [options]="statusList" optionLabel="name" optionValue="code"
                                placeholder="Select Status" autoWidth="false" [(ngModel)]="selectedStatus"
                                [style]="{ width: '100%' }" />
                        </div> -->
                        <div class="col-3">
                            <p-calendar [showIcon]="true" [hourFormat]="12" inputId="icon" [style]="{ width: '100%' }"
                                [(ngModel)]="selectedDate" selectionMode="range" dateFormat="dd/mm/yy"></p-calendar>
                        </div>
                        <div class="col-2">
                            <button pButton class="primary" type="button" label="fiter" (click)="loadAppointments(dt1)"
                                icon="pi pi-filter"></button>
                        </div>
                        <div class="col-1">
                            <button [disabled]="selectedProducts.length == 0 " pButton type="button"
                                class="p-button-danger" (click)="deleteLeads(dt1)" label="Delete"
                                icon="pi pi-trash"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Mobile
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>

                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Username
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>

                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Customer Name
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>

                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                City
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>

                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Investment
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Created Date
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>

                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Action
                                <!-- <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter> -->
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr [pSelectableRow]="customer">
                        <td>
                            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.mobile
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.user?.username
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.name
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.city
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.investment
                                }}</span>
                        </td>
                        <td>
                            {{ customer.created_at | date : "dd/MM/yyyy" }}
                        </td>

                        <td class="text-center">
                            <p-toast></p-toast>

                            <i [routerLink]="['/hot-leads', 'edit', customer._id]"
                                class="pi mx-2 true-icon pi-pencil text-green-500"></i>

                            <!-- <i (click)="confirm2($event,customer)" class="pi mx-2 false-icon pi-trash text-pink-500" ></i> -->
                            <p-confirmPopup key="confirm2"></p-confirmPopup>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No data found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-toast key="tst"></p-toast>