<div class="grid">
    <div class="col-12">
        <div class="card">
            <form [formGroup]="loginForm" (ngSubmit)="checkEmail()">
                <div>
                    <p-messages [showTransitionOptions]="'200ms'" [hideTransitionOptions]="'200ms'" />
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-6">
                            <label for="email1" class="block text-900 text-xl font-medium mb-2">Old Password</label>
                            <p-password formControlName="old_password" id="password1" autocomplete="new-password"
                                placeholder="Old Password" [toggleMask]="true" styleClass="mb-2"
                                inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                            <small class="p-error block" *ngIf="
                                        old_password.invalid &&
                                        (old_password.dirty || old_password.touched) &&
                                        old_password.hasError('required')
                                    ">
                                old password is required</small>
                        </div>
                    </div>
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-6">
                            <label for="email1" class="block text-900 text-xl font-medium mb-2">New Password</label>
                            <p-password formControlName="password" id="password1" autocomplete="new-password"
                                placeholder="New Password" [toggleMask]="true" styleClass="mb-2"
                                inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                            <small class="p-error block" *ngIf="
                                        password.invalid &&
                                        (password.dirty || password.touched) &&
                                        password.hasError('required')
                                    ">
                                Password is required</small>
                        </div>
                    </div>
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-6">
                            <label for="email1" class="block text-900 text-xl font-medium mb-2">Confirm
                                Password</label>
                            <p-password formControlName="conf_password" id="password1" autocomplete="new-conf_password"
                                placeholder="Confirm Password" [toggleMask]="true" styleClass="mb-2"
                                inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                            <small class="p-error block" *ngIf="
                                        conf_password.invalid &&
                                        (conf_password.dirty || conf_password.touched) &&
                                        conf_password.hasError('required')
                                    ">
                                Confirm Password is required</small>

                            <div class="p-error block"
                                *ngIf="loginForm.get('conf_password')?.touched && loginForm.errors?.['mismatch']">
                                <small>Passwords do not match.</small>
                            </div>
                        </div>
                    </div>

                    <button pButton pRipple type="submit" label="Change Password" class="mr-4 primary"></button>
                    <button [routerLink]="'/auth/forgot-password/input-email'" pButton pRipple type="button"
                        label="Cancel" class="secondary"></button>


                </div>
            </form>
        </div>
    </div>
</div>

<p-toast key="tst"></p-toast>


<p-dialog [modal]="true" [(visible)]="visible">
    <div class="grid">
        <div class="col-12">
            <span class="p-text-secondary block">password has been changed successfully</span>
        </div>
        <div class="col-12">
            <p-button label="Ok" class="w-full secondary" [routerLink]="'/auth/login'" />
        </div>
    </div>
</p-dialog>