<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Expected Payment List</h5>
            <p-table #dt1 [(selection)]="selectedProducts" [value]="appointments" dataKey="_id" [rowHover]="true"
                [lazy]="true" paginatorPosition="bottom" [rows]="50" [rowsPerPageOptions]="[50,100,150,200]"
                [totalRecords]="totalRecords" styleClass="p-datatable-gridlines" [paginator]="true"
                (onLazyLoad)="loadBLogs($event)" [globalFilterFields]="[
                    'name',
                    'country.name',
                    'representative.name',
                    'status'
                ]" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>

                        <th style="min-width: 7rem">
                            <div class="flex justify-content-between align-items-center">
                                Name
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 7rem">
                            <div class="flex justify-content-between align-items-center">
                                Mobile
                                <!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
                            </div>
                        </th>


                        <th style="min-width: 7rem">
                            <div class="flex justify-content-between align-items-center">
                                City
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 7rem">
                            <div class="flex justify-content-between align-items-center">
                                Segment
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Free Trial Date
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Investment
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Expected Payment
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Expected Payment Date
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Remark
                                <!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
                            </div>
                        </th>

                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Action
                                <!-- <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter> -->
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr [pSelectableRow]="customer">
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.free_trial?.name
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.mobile
                                }}</span>
                        </td>

                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.free_trial?.city
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.free_trial?.options
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.free_trial?.free_trial_date | date : "dd/MM/yyyy"
                                }}</span>
                        </td>
                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.free_trial?.investment
                                }}</span>
                        </td>

                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.follow_up?.expected_payment
                                }}</span>
                        </td>

                        <td>
                            <!-- <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30"> -->
                            <span class="image-text ml-2">{{
                                customer?.follow_up?.expected_payment_date | date : "dd/MM/yyyy"
                                }}</span>
                        </td>

                        <td>
                            {{ customer?.free_trial?.remark }}
                        </td>

                        <td class="text-center">
                            <p-toast></p-toast>
                            <p-dropdown (onChange)="onStatusChange(customer,$event,dt1)" appendTo="body" class="w-full"
                                [options]="statusList" optionLabel="name" optionValue="code" placeholder="" />
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Leads found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading Leads data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-toast key="tst"></p-toast>