<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5></h5>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="name">Mobile</label>
                        <span class="required">*</span>
                        <textarea rows="10" cols="10" pInputTextarea formControlName="mobile"></textarea>
                        <small class="p-error block" *ngIf="
                        mobile.invalid && (mobile.dirty || mobile.touched) &&  mobile.hasError('required')
                            ">
                            Mobile is required</small>
                    </div>
                </div>
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <p-dropdown [filter]="true" filterBy="name" formControlName="user" [options]="users"
                            optionLabel="name" class="mr-3" optionValue="code" placeholder="Select Employee" />
                        <small class="p-error block" *ngIf="
                        user.invalid && (user.dirty || user.touched) &&  user.hasError('required')
                            ">
                            Employee is required</small>

                    </div>

                </div>

                <div class="grid">
                    <div class="col-12">
                        <button pButton pRipple class="primary" type="submit" label="Submit"></button>
                        <button pButton pRipple [routerLink]="['/leads']" class="secondary ml-3" type="button"
                            label="Back"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast key="tst"></p-toast>