<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5></h5>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="name">Company Name</label>
                        <span class="required">*</span>
                        <input pInputText id="name" type="text" formControlName="name" />
                        <small class="p-error block" *ngIf="
                        name.invalid && (name.dirty || name.touched)
                            ">
                            Company Name is required</small>
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="name">Maximum Users Allowed</label>
                        <span class="required">*</span>
                        <input pInputText id="name" type="text" formControlName="max_users" />
                        <small class="p-error block" *ngIf="
                        max_users.invalid && (max_users.dirty || max_users.touched)
                            ">
                            Maximum Users Allowed is required</small>
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="lastname2">Expiry Date</label>
                        <span class="required">*</span>
                        <p-calendar formControlName="expiry_date" [showIcon]="true" inputId="icon" [showTime]="false"
                            dateFormat="dd/mm/yy" [minDate]="minDate"></p-calendar>
                        <small class="p-error block" *ngIf="
                        expiry_date.invalid &&
                                (expiry_date.dirty ||
                                expiry_date.touched)
                            ">
                            Expiry Date is required</small>
                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="address">Address</label>
                        <span class="required">*</span>
                        <textarea rows="5" cols="30" pInputTextarea formControlName="address"></textarea>

                        <small class="p-error block" *ngIf="
                        address.invalid && (address.dirty || address.touched)
                            ">
                            Address is required</small>
                    </div>
                </div>

                <div class="grid">
                    <div class="col-12">
                        <button pButton [loading]="loading" pRipple class="primary" type="submit"
                            label="Submit"></button>
                        <button pButton pRipple [routerLink]="['/branches']" class="secondary ml-3" type="button"
                            label="Back"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast key="tst"></p-toast>