<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5></h5>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="name">Business</label>
                        <span class="required">*</span>
                        <input pInputText id="name" type="text" formControlName="business" />
                        <small class="p-error block" *ngIf="
                        business.invalid && (business.dirty || business.touched) && business.hasError('required')
                            ">
                            business is required</small>
                        <small class="p-error block" *ngIf="
                        business.invalid && (business.dirty || business.touched) && business.hasError('pattern')
                                ">
                            business is invalid</small>
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="lastname2">Role</label>
                        <span class="required">*</span>
                        <p-dropdown [options]="roles" optionLabel="name" optionValue="code" formControlName="role"
                            placeholder="Select Role" />
                        <small class="p-error block" *ngIf="
                        role.invalid && (role.dirty || role.touched)
                                ">
                            role is required</small>
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="name">Incentive</label>
                        <span class="required">*</span>
                        <input pInputText id="name" type="text" formControlName="incentive" />
                        <small class="p-error block" *ngIf="
                        incentive.invalid && (incentive.dirty || incentive.touched)  && incentive.hasError('required')
                            ">
                            incentive is required</small>
                        <small class="p-error block" *ngIf="
                            incentive.invalid && (incentive.dirty || incentive.touched) && incentive.hasError('pattern')
                                ">
                            incentive is invalid</small>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-12">
                        <button pButton pRipple class="primary" type="submit" label="Submit"></button>
                        <button pButton pRipple [routerLink]="['/spot-incentives']" class="secondary ml-3" type="button"
                            label="Back"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast key="tst"></p-toast>