<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5></h5>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="name">Mobile</label>
                        <span class="required">*</span>
                        <input pInputText id="name" type="text" formControlName="mobile" />
                        <small class="p-error block" *ngIf="
                        mobile.invalid && (mobile.dirty || mobile.touched) &&  mobile.hasError('required')
                            ">
                            Mobile is required</small>
                        <small class="p-error block" *ngIf="
                            mobile.invalid &&
                            (mobile.dirty || mobile.touched) &&
                            mobile.hasError('invalidMobile')
                        ">
                            invalid mobile number</small>
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="name">Name</label>
                        <!-- <span class="required">*</span> -->
                        <input pInputText id="name" type="text" formControlName="name" />
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="name">City</label>
                        <!-- <span class="required">*</span> -->
                        <input pInputText id="name" type="text" formControlName="city" />
                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="name">Investment</label>
                        <!-- <span class="required">*</span> -->
                        <input pInputText id="name" type="text" formControlName="investment" />
                        <small class="p-error block" *ngIf="
                        investment.invalid && (investment.dirty || investment.touched) &&  investment.hasError('required')
                            ">
                            investment is required</small>
                    </div>
                </div>

                <div class="grid">
                    <div class="col-12">
                        <button pButton pRipple class="primary" type="submit" label="Submit"></button>
                        <button pButton pRipple [routerLink]="['/hot-leads']" class="secondary ml-3" type="button"
                            label="Back"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast key="tst"></p-toast>